@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #131227;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.banner {
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vh;
  background-attachment: fixed;
}
.banner .filter {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

.feather {
  width: 18px;
  height: 18px;
  stroke: #FE264F;
  margin-right: 10px;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.play {
  width: 18px;
  height: 18px;
  stroke: #FE264F;
  margin-right: 10px;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: #FE264F;
}

.star {
  width: 18px;
  height: 18px;
  stroke: #fff;
  margin-right: 4px;
  margin-bottom: 13px;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: #fff;
}

section .containerSkill {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  position: relative;
}
section .containerSkill .borderright {
  width: 40px;
  height: 40px;
  -webkit-border-top-right-radius: 20px;
  border: 4px solid #FE264F;
  position: absolute;
  top: -204px;
  right: 926px;
}
section .containerSkill .borderleft {
  width: 40px;
  height: 40px;
  -webkit-border-bottom-left-radius: 20px;
  border: 4px solid #FE264F;
  position: absolute;
  top: 163px;
  left: -3px;
}
section .containerSkill .card1 {
  position: relative;
  top: -200px;
  background: rgba(255, 255, 255, 0.019);
  border-radius: 20px;
  width: 14.375rem;
  height: 25rem;
  backdrop-filter: blur(25px);
}
section .containerSkill .card1 img {
  position: absolute;
  top: -13%;
  left: 30%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
}
section .containerSkill .card1 h1 {
  margin-top: 60px;
  font-weight: 500;
  text-align: center;
  color: #d1d1d1;
}
section .containerSkill .card1 .text {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-size: 12px;
}
section .containerSkill .card1 p {
  color: #f5f5f569;
  margin-right: 4px;
}
section .containerSkill .card1 span {
  color: #d1d1d1;
  margin-bottom: 30px;
}
section .containerSkill .card1 ul li {
  display: flex;
  align-items: center;
  width: 60%;
  margin: auto auto 20px auto;
  border-bottom: 1px solid #f5f5f511;
  padding-bottom: 13px;
}
section .containerSkill .card1 ul li a {
  color: #f5f5f569;
  font-size: 14px;
}
section .containerSkill .card1 ul li a:hover {
  color: #d1d1d1;
}
section .containerSkill .card2 {
  position: relative;
  top: -150px;
  left: 100px;
  background: rgba(255, 255, 255, 0.019);
  border-radius: 20px;
  width: 700px;
  height: auto;
  backdrop-filter: blur(25px);
}
section .containerSkill .card2 .containerCard2 {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto auto auto;
  align-items: center;
}
section .containerSkill .card2 .containerCard2 h1 {
  color: #d1d1d1;
  padding: 8px 14px;
}
section .containerSkill .card2 .containerCard2 h1 span {
  color: #FE264F;
}
section .containerSkill .card2 .containerCard2 a {
  color: #d1d1d1;
  padding: 8px 14px;
  font-size: 14px;
  border: 1px solid #f5f5f569;
  border-radius: 10px;
}
section .containerSkill .card2 .susanoo {
  width: 90%;
  margin: 20px auto auto auto;
  background: #FE264F;
  border-radius: 20px;
  height: 278px;
}
section .containerSkill .card2 .susanoo img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 300px;
  height: 294px;
  object-fit: cover;
  object-position: bottom;
  position: relative;
}
section .containerSkill .card2 .susanoo a {
  color: #000;
  padding: 8px 10px;
  background: #fff;
  position: absolute;
  top: 320px;
  left: 44px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
}
section .containerSkill .card2 .susanoo .textCard2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 150px;
  right: 50px;
  color: #fff;
}
section .containerSkill .card2 .susanoo .textCard2 p {
  margin-top: 15px;
  color: #ffffff93;
  width: 280px;
}
section .containerSkill .card2 .containerAmaterasu {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
section .containerSkill .card2 .containerAmaterasu .amaterasu {
  background-image: url("../img/amaterasu.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 280px;
  height: 280px;
  border-radius: 20px;
  position: relative;
}
section .containerSkill .card2 .containerAmaterasu .amaterasu .filterAmaterasu {
  background: #fe264eb4;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
section .containerSkill .card2 .containerAmaterasu .amaterasu .filterAmaterasu .textCard {
  position: absolute;
  top: 100px;
  left: 14px;
  color: #fff;
}
section .containerSkill .card2 .containerAmaterasu .amaterasu .filterAmaterasu a {
  color: #000;
  padding: 8px 10px;
  background: #fff;
  position: absolute;
  top: 230px;
  left: 14px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
}
section .containerSkill .card2 .containerAmaterasu .tsukiyomi {
  background-image: url("../img/Tsukuyomi.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 280px;
  height: 280px;
  border-radius: 20px;
  position: relative;
}
section .containerSkill .card2 .containerAmaterasu .tsukiyomi .filterAmaterasu {
  background: #fe264eb4;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
section .containerSkill .card2 .containerAmaterasu .tsukiyomi .filterAmaterasu .textCard {
  position: absolute;
  top: 100px;
  left: 14px;
  color: #fff;
}
section .containerSkill .card2 .containerAmaterasu .tsukiyomi .filterAmaterasu a {
  color: #000;
  padding: 8px 10px;
  background: #fff;
  position: absolute;
  top: 230px;
  left: 14px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
}
section .containerSkill .borderRight {
  width: 80px;
  height: 80px;
  -webkit-border-top-right-radius: 20px;
  border: 4px solid #FE264F;
  position: absolute;
  top: -154px;
  right: 126px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #131227;
}

::-webkit-scrollbar-thumb {
  background: #fe264e98;
}

.modal {
  position: relative;
  display: none;
  top: -500px;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 20000;
  background-color: rgba(26, 25, 25, 0.911);
  width: 700px;
  height: 700px;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.modal .close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
